<div class="layout">
    <mat-toolbar class="layout-header " color="primary">
        <app-header (toggleClick)="side_menu()"></app-header>
    </mat-toolbar>
    
    <mat-drawer-container fxFlex class="layout-container">
        <!-- mode="side,over,push" -->
        <mat-drawer fxFlex="250px" #menu mode="side" opened="open" class="layout-sidenav">
            <div fxLayout="column">
                <app-menu (memumain_change)="layoutChage($event)"></app-menu>
            </div>
        </mat-drawer>
        <mat-drawer-content fxFlex  class="layout-content"  >
            <div fxLayout="column" fxFill>
                <div fxFlex class="">
                    <app-sub-headder [sub_heder_change]="sub_header_text"></app-sub-headder>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
        
    </mat-drawer-container>
</div>
